.sidebar {
  width: 250px;
  background-color: #2f3b52;
  color: white;
  padding: 20px;
  height: 100vh;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style-type: none;
  padding-left: 0;
}

.sidebar-menu li {
  margin: 15px 0;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  transition: background 0.3s ease;
}

.sidebar-menu a:hover {
  background-color: #4a5b73;
}

.subList {
  list-style-type: none;
  padding-left: 20px;
  display: block;
}

.subList li a {
  font-size: 16px;
  padding: 8px 10px;
}

.active {
  background-color: #4a5b73;
}
